.navbar {
  display: flex;
  align-items: center;

  background-color: #db4d3f;
  color: white;

  height: 64px;

  padding-left: 16px;
  padding-right: 16px;

  font-weight: bold;
  font-size: 1.5rem;
}

.narbar a {
  cursor: pointer;
}
