.storyitem {
  padding-bottom: 8px;
  padding-top: 8px;

  border-bottom: 1px solid rgba(33, 33, 33, 0.075);
}

.storyitem--link {
  display: block;
  font-size: 1.15rem;

  color: black;
  text-decoration: none;
}

.storyitem--link_title {
  font-weight: 700;
}

.storyitem--secondrow {
  display: flex;
  align-items: flex-end;

  font-size: 1rem;
}

.storyitem--secondrow_points {
  font-weight: 500;
}

.storyitem--secondrow_submitted {
  padding-left: 4px;

  font-size: 0.8rem;
  font-weight: 400;
  color: #999999;
}
