body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f6f4f4;
}

.content {
  max-width: 1024px;

  margin-left: auto;
  margin-right: auto;

  padding: 16px;
}

* {
  object-fit: border-box;
}
